# Ignore the .idea directory
.idea/

# Ignore the __pycache__ directory
__pycache__/

# Other common Python-related ignores
*.pyc
*.pyo
*.pyd
*.pdb

# Ignore virtual environments
venv/
env/
.venv/
.env/

# Ignore macOS system files
.DS_Store

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore any temporary files created by editors
*.swp
*.swo
*~